<div class="w-full h-full flex flex-col items-center justify-center" >
  <div class="w-full max-w-md">
    <div class="p-6 pb-0 flex flex-col items-center justify-center">
      <div class="fill-current text-center">
        <img class="w-[12rem] mx-auto" src="assets/img/logo%20govcodepro.png">
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">Cambiar contraseña</h2>
      <h4 class="body-2 text-secondary m-0 mx-4">Introduzca su contraseña anterior para iniciar el cambio de la contraseña.</h4>
    </div>

    <div class="p-6 flex flex-col">
      <form [formGroup]="changePasswordForm" class="flex flex-col" (submit)="generateChangePasswordToken()">
        <mat-form-field class="flex-1 w-full" appearance="outline">
          <mat-label>Contraseña antigua</mat-label>
          <input
            [type]="inputTypePassword"
            formControlName="oldPassword"
            matInput
            required
          >
          <button
            (click)="toggleVisibilityPassword()"
            mat-icon-button
            matSuffix
            matTooltip="Cambiar visibilidad"
            type="button"
          >
            <mat-icon
              *ngIf="visiblePassword"
              svgIcon="mat:visibility"
            ></mat-icon>
            <mat-icon
              *ngIf="!visiblePassword"
              svgIcon="mat:visibility_off"
            ></mat-icon>
          </button>
          <mat-error *ngIf="changePasswordForm.get('oldPassword').hasError('required')">Por favor ingresa una contraseña</mat-error>
          <mat-error *ngIf="changePasswordForm.get('oldPassword').hasError('minlength')">La contraseña debe tener al menos {{changePasswordForm.get('password').errors?.minlength?.requiredLength}} caracteres</mat-error>

        </mat-form-field>

        <app-alert-error *ngIf="status === 'error'" [messageError]="messageError"></app-alert-error>
        <div class="flex flex-col items-center gap-y-[12px] mb-[24px]" *ngIf="status == 'loading'">
          <mat-spinner [diameter]="30"></mat-spinner>
          <p>Generando codigo de cambio de contraseña...</p>
        </div>

        <button  class="mt-2" color="primary" mat-raised-button type="submit" [disabled]="status === 'loading'">
          Continuar
        </button>

      </form>

      <div class="mt-5">
        <a
          tabindex="0"
          (keydown.enter)="changeModeChangePassword('validate-change-password-code')"
          (click)="changeModeChangePassword('validate-change-password-code')"
          class="text-primary hover:underline caption font-bold cursor-pointer"
        >
          Ya tengo un codigo de cambio de contraseña
        </a>
      </div>
    </div>
  </div>
</div>
