<div class="w-full h-full flex flex-col items-center justify-center" >
  <div class="card w-full max-w-md">
    <div class="p-6 pb-0 flex flex-col items-center justify-center">
      <div class="fill-current text-center">
        <img class="w-[12rem] mx-auto" src="assets/img/logo%20govcodepro.png">
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">Restablecer contraseña</h2>
      <h4 class="body-2 text-secondary m-0 mx-4">Introduzca su nombre de usuario para recuperar la contraseña.</h4>
    </div>

    <div class="p-6 flex flex-col">
    <form [formGroup]="recoveryPasswordForm" class="flex flex-col" (submit)="generateRecoveryPasswordToken()">
      <mat-form-field  appearance="outline">
        <mat-label>Usuario</mat-label>

        <mat-icon class="mr-2" matPrefix svgIcon="mat:person"></mat-icon>
        <input formControlName="username" matInput required>
        <mat-error *ngIf="recoveryPasswordForm.get('username').hasError('required')">
          No podemos recuperar tu contraseña sin tu nombre de usuario.
        </mat-error>
      </mat-form-field>

      <app-alert-error *ngIf="status === 'error'" [messageError]="messageError"></app-alert-error>
      <div class="flex flex-col items-center gap-y-[12px] mb-[24px]" *ngIf="status == 'loading'">
        <mat-spinner [diameter]="30"></mat-spinner>
        <p>Generando codigo de recuperación...</p>
      </div>

      <button  class="mt-2" color="primary" mat-raised-button type="submit" [disabled]="status === 'loading'">
        Continuar
      </button>

      </form>

      <div class="mt-5">
        <a
          tabindex="0"
          (keydown.enter)="changeModeRecoveryPassword('validate-code')"
          (click)="changeModeRecoveryPassword('validate-code')"
          class="text-primary hover:underline caption font-bold cursor-pointer"
        >
          Ya tengo un codigo de recuperación
        </a>
      </div>
      <div class="flex items-center gap-4 caption mt-5" >
        <p class="caption">Regresar al</p>
        <a
          href="#"
          [routerLink]="['/login']"
          class="text-primary underline caption font-bold cursor-pointer"
        >
          Inicio de sesión
        </a>
      </div>
    </div>
  </div>
</div>
