<vex-page-layout>
    <vex-page-layout-header class="pb-16 flex flex-col items-start justify-center">
        <div
            [class.container]="layoutCtrl.value === 'boxed'"
            [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
            class="w-full flex flex-col sm:flex-row justify-between"
        >
            <div>
                <h1 class="title mt-0 mb-1">Lista de Tareas Pendientes</h1>
                <vex-breadcrumbs [crumbs]="['Tareas', 'Lista de tareas']"></vex-breadcrumbs>
            </div>
        </div>
    </vex-page-layout-header>
    <vex-page-layout-content
        [class.container]="layoutCtrl.value === 'boxed'"
        [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
    >
      <div class="-mt-20">
        <app-complex-table
          nameTable="Tareas Pendientes"
          [stateData]="state"
          [columns]="columns"
          [dataSourceTable]="dataTableProcedures"
          [messageNotFound]="'No se han encontrado tareas asociadas a este usuario'"
          [actionsButton]="{
            viewProcedure: openDetailsTask.bind(this)
          }"
          [hasReloadDataButton]="true"
          [messageReloadButton]="'Actualizar lista de tareas'"
          (reloadDataEvent)="getTasksPending()"

        ></app-complex-table>
      </div>
    </vex-page-layout-content>
</vex-page-layout>
