<vex-page-layout>
    <vex-page-layout-content
        [class.container]="layoutCtrl.value === 'boxed'"
        [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
        class="mt-6"
    >
      <app-complex-table
        nameTable="Tipos de identificación"
        [stateData]="state"
        [columns]="columns"
        [dataSourceTable]="dataTablePersonTypes"
        [messageNotFound]="'No se han encontrado tipos de identificación'"
        (deleteEvent)="handleDeleteEvent($event)"
      ></app-complex-table>
    </vex-page-layout-content>
</vex-page-layout>
