<vex-page-layout>
    <vex-page-layout-content
        [class.container]="layoutCtrl.value === 'boxed'"
        [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
    >
      <app-complex-table
        nameTable="Administrar Usuarios"
        [stateData]="state"
        [columns]="columns"
        [dataSourceTable]="dataTableCitizens"
        [actionsButton]="{
          removeUser : removeUser.bind(this),
          changeEnabledStateUser : handleEnabledStateMemberModal.bind(this),
          viewRolesUser : handleViewRolesUser.bind(this)
        }"
        (resetPasswordEvent)="resetPassword($event)"
        [messageNotFound]="'No se han encontrado tareas asociadas a este usuario'"
        [hasReloadDataButton]="true"
        [messageReloadButton]="'Actualizar lista de usuarios'"
        (reloadDataEvent)="getCitizensData()"
      ></app-complex-table>
    </vex-page-layout-content>
</vex-page-layout>
