<h2 mat-dialog-title>Cambio de contraseña exitoso</h2>
<mat-dialog-content class="mat-typography">
  <p>Su contraseña ha sido cambiada exitosamente. A continuación sera redirigido al inicio de la aplicación.<br/><br/> La proxima vez que inicie sesión, introduzca las nuevas credenciales.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    class="bg-primary text-white rounded-full"
    mat-raised-button
    type="button"
    mat-dialog-close
  >
    Ok, Aceptar
  </button>
</mat-dialog-actions>
