<div class="w-full h-full flex flex-col items-center justify-center" >
  <div class="p-6 card w-full max-w-md">
    <div class="p-6 pb-0 flex flex-col items-center justify-center">
      <div class="fill-current text-center">
        <img class="w-[12rem] mx-auto" src="assets/img/logo%20govcodepro.png">
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">Restablecer contraseña</h2>
      <h4 class="body-2 text-secondary m-0 mx-4">
        Señor usuario, revise el codigo OTP enviado a su correo por favor. <br><br> Su codigo OTP <b>vence en 5 minutos</b>
      </h4>
    </div>

    <form [formGroup]="validateOTPPasswordForm" (submit)="validateOtpRecoveryPassword()">
      <div class="mt-5 flex flex-col justify-center items-center">
        <div class="flex-1 w-full pb-[1.4375em]">
          <code-input [codeLength]="6" (codeChanged)="codeHasChanged($event)"></code-input>
          <mat-error class="error-custom-field" *ngIf="(validateOTPPasswordForm.get('otp').touched || validateOTPPasswordForm.get('otp').dirty) && validateOTPPasswordForm.get('otp').hasError('required')">
            Por favor ingresa el codigo OTP
          </mat-error>
          <mat-error class="error-custom-field" *ngIf="(validateOTPPasswordForm.get('otp').touched || validateOTPPasswordForm.get('otp').dirty) && validateOTPPasswordForm.get('otp').hasError('minlength')">
            El codigo OTP esta incompleto
          </mat-error>
        </div>

        <mat-form-field class="flex-1 pb-1 w-full" appearance="outline" *ngIf="!actualUsername">
          <mat-label>Usuario</mat-label>
          <input
            formControlName="username"
            matInput
            required
          >
          <mat-error *ngIf="validateOTPPasswordForm.get('username').hasError('required')">Por favor ingresa el nombre de usuario</mat-error>
        </mat-form-field>

        <mat-form-field class="flex-1 w-full mb-[16px]" appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input
            [type]="inputTypePassword"
            formControlName="password"
            matInput
            required
          >
          <button
            (click)="toggleVisibilityPassword()"
            mat-icon-button
            matSuffix
            matTooltip="Cambiar visibilidad"
            type="button"
          >
            <mat-icon
              *ngIf="visiblePassword"
              svgIcon="mat:visibility"
            ></mat-icon>
            <mat-icon
              *ngIf="!visiblePassword"
              svgIcon="mat:visibility_off"
            ></mat-icon>
          </button>
          <mat-hint>Mínimo ocho (8) caracteres, un número, una letra minúscula, una letra mayúscula</mat-hint>
          <mat-error *ngIf="validateOTPPasswordForm.get('password').hasError('required')">Por favor ingresa una contraseña</mat-error>
          <mat-error *ngIf="validateOTPPasswordForm.get('password').hasError('pattern')">{{validateOTPPasswordForm.get('password').errors.pattern.message}}</mat-error>
        </mat-form-field>
        <mat-form-field class="flex-1 w-full" appearance="outline">
          <mat-label>Repetir Contraseña</mat-label>
          <input
            [type]="inputTypeRepeatPassword"
            formControlName="confirmPassword"
            matInput
            required
          >
          <button
            (click)="toggleVisibilityRepeatPassword()"
            mat-icon-button
            matSuffix
            matTooltip="Cambiar visibilidad"
            type="button"
          >
            <mat-icon
              *ngIf="visibleRepeatPassword"
              svgIcon="mat:visibility"
            ></mat-icon>
            <mat-icon
              *ngIf="!visibleRepeatPassword"
              svgIcon="mat:visibility_off"
            ></mat-icon>
          </button>
          <mat-error *ngIf="validateOTPPasswordForm.get('confirmPassword').hasError('required')">Por favor ingresa de nuevo la contraseña</mat-error>
          <mat-error *ngIf="validateOTPPasswordForm.get('confirmPassword').hasError('passwordsMismatch')">Las contraseñas no coinciden</mat-error>
        </mat-form-field>

        <app-alert-error *ngIf="status === 'error'" [messageError]="messageError"></app-alert-error>
        <div class="flex flex-col items-center gap-y-[12px] mb-[24px]" *ngIf="status == 'loading'">
          <mat-spinner [diameter]="30"></mat-spinner>
          <p>Recuperando contraseña...</p>
        </div>

        <button class="mt-2" color="primary" mat-raised-button type="submit" [disabled]="status === 'loading'">
          Recuperar contraseña
        </button>
      </div>

    </form>



    <div class="mt-5">
      <a
        tabindex="0"
        (keydown.enter)="changeModeRecoveryPassword('generate-code')"
        (click)="changeModeRecoveryPassword('generate-code')"
        class="text-primary hover:underline caption font-bold cursor-pointer"
      >
        Crear un codigo de recuperación
      </a>
    </div>
    <div class="flex items-center gap-4 caption mt-5" >
      <p class="caption">Regresar al</p>
      <a
        href="#"
        [routerLink]="['/login']"
        class="text-primary underline caption font-bold cursor-pointer"
      >
        Inicio de sesión
      </a>
    </div>
  </div>

</div>
