<vex-page-layout>

    <vex-page-layout-header class="flex flex-col items-start justify-center">
        <div class="container">
            <h2 class="title m-0">Gestión de roles</h2>
            <vex-breadcrumbs [crumbs]="['Administración de Roles']"></vex-breadcrumbs>
        </div>
    </vex-page-layout-header>

    <vex-page-layout-content class="vex-tabs container">
      <div>
        <app-list-of-roles-citizen></app-list-of-roles-citizen>
      </div>

    </vex-page-layout-content>

</vex-page-layout>
