<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="mr-[5px]" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Escribe tu contraseña">
        <mat-error *ngIf="resetPasswordForm.get('password').errors?.required">
            Contraseña requerida.
        </mat-error>
        <mat-error *ngIf="resetPasswordForm.get('password').errors?.minLength">
            La contraseña debe tener al menos 8 caracteres.
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Confirmar contraseña</mat-label>
        <input matInput type="password" formControlName="confirmPassword" placeholder="Confirma tu contraseña">
        <mat-error *ngIf="resetPasswordForm.get('confirmPassword').errors?.required">
            Confirmación requerida.
        </mat-error>
        <mat-error *ngIf="resetPasswordForm.get('confirmPassword').errors?.mustMatch">
            Las contraseñas deben coincidir.
        </mat-error>
    </mat-form-field>

    <div *ngIf="resetPasswordForm.pending" class="loading-spinner">
        <mat-spinner></mat-spinner>
    </div>

    <br>
    <div class="flex justify-center">
        <div class="flex justify-center">
            <button mat-raised-button color="primary" type="submit">Cambiar contraseña</button>
        </div>
        <button mat-button (click)="dialogRef.close()">Cancelar</button>
    </div>
</form>