<div>
  <div class="flex flex-col gap-5">
    <div class="flex">
      <button mat-raised-button color="primary" class="text-[0.7rem]" (click)="handleAssociateMemberToGroupModal()"><mat-icon svgIcon="mat:person_add" class="mr-3 icon-xs"></mat-icon> Agregar miembro</button>
    </div>
  <app-complex-table
    nameTable=""
    [stateData]="stateLoadMembersGroup"
    [columns]="columnsMembersGroup"
    [dataSourceTable]="dataTableMembersGroup"
    [actionsButton]="{
     changeEnabledStateUser : handleEnabledStateMemberModal.bind(this),
     removeMemberFromGroup : handleLeaveMemberFromGroupModal.bind(this)
    }"
    [messageNotFound]="'No se han encontrado miembros asociadas a este grupo'"
    [hasReloadDataButton]="true"
    messageReloadButton="Recargar"
    (reloadDataEvent)="loadMembers()"
    (rowsSelectedChangeEvent)="changeMembersSelected($event)"
    [handleRemoveElements]="handleDeleteManyMembers.bind(this)"
  ></app-complex-table>
  </div>
</div>
