<ng-container *ngIf="statusDeleteUser == 'loading'">
  <div class="flex justify-center items-center ">
    <div class="flex flex-col items-center gap-2">
      <mat-spinner [diameter]="30"></mat-spinner>
      Eliminando usuario...
    </div>
  </div>
</ng-container>
<ng-container *ngIf="statusDeleteUser != 'loading'" >
  <h1 mat-dialog-title>Eliminar usuario</h1>
  <div mat-dialog-content>
    ¿Esta seguro que desea eliminar el usuario?
  </div>
  <div mat-dialog-actions align="end" >
    <button mat-button mat-dialog-close>No, Cancelar</button>
    <button mat-raised-button color="warn" cdkFocusInitial (click)="handleDeleteUser()">Si, Eliminar usuario</button>
  </div>
</ng-container>
