<ng-container *ngIf="statusLeaveGroupRol == 'loading'">
  <div class="flex justify-center items-center ">
    <div class="flex flex-col items-center gap-2">
      <mat-spinner [diameter]="30"></mat-spinner>
      Removiendo rol del grupo...
    </div>
  </div>
</ng-container>
<ng-container *ngIf="statusLeaveGroupRol != 'loading'" >
  <h1 mat-dialog-title> Remover rol del grupo
  </h1>
  <div mat-dialog-content>
    ¿Esta seguro que desea remover el rol del grupo?
  </div>
  <div mat-dialog-actions align="end" >
    <button mat-button mat-dialog-close>No, Cancelar</button>
    <button mat-raised-button color="warn" cdkFocusInitial (click)="handleLeaveGroupRol()">Si, remover rol</button>
  </div>
</ng-container>
